---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <article class="post">
    <header class="post-header">
      <h1 class="post-title">{title}</h1>
    </header>
    <div class="post-content">
      <slot />
    </div>
  </article>
</BaseLayout>
